<div class="row">
  <%= form_for(@question) do |f| %>
    <% if @question.errors.any? %>
      <div id="error_explanation" class="alert">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <h4><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h4>

        <ul>
        <% @question.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="span5">
      <fieldset>
        <%= f.hidden_field :quiz_id %>
        <%= f.hidden_field :user_id %>
        <%= f.label :name, "Question" %>
        <%= f.text_area :name, :class => "input-xxlarge" %>
        <div class="actions">
            <button class="btn btn-primary" name="commit" type="submit" id ="submit_question" value="submit">Submit</button>
        </div>
      </fieldset>  
    </div>
    <div class="span6">
      <div class="row choices-labels">
        <span>Choices:</span>
        <span id="correct-label">Is Correct?</span>
      </div>
        <%= f.fields_for :choices do |builder| %>
          <%= render 'choice_fields', f: builder %>
        <% end %>
        
        <%= link_to_add_fields "Add Choice", f, :choices %>
    </div>

    <div style="clear:both;"></div>


  <% end %>
</div>

<script type="text/javascript">
  $('.approve-icon').tooltip({
    title: "Add another choice"
  });
</script>