<h2>Building quizzes for the 21<sup>st</sup> century.</h2>
  
<div class="row">
  <div class="span8 welcome-text offset1">
    Open Exam lets students craft the learning experience. They submit the questions and instructors select the best ones.
  </div>
</div>



<div class="row">
  <br />

  <br />
    
  <div class="offset1 span5">
    <P>Already signed up? Find your account below.</P> 
    
    <form class="navbar-search pull-left">
      <%= form_tag({:controller => "organizations", :action => "index"}, method: :get) do %>
        <%= text_field_tag :query, params[:query], {:class =>"search-query", :placeholder=>"Enter your email"}  %>
        <span id="search-by-email"><button type="submit" class="btn btn-default">Search</button> </span>
      <% end %>
    </form>

    <br />
    <br />
    <% users =  User.find_all_by_email(params[:query]) %> 
    <% org_ids = users.map {|user| user.organization_id} %>   
    <% organizations =  org_ids.map {|id| Organization.find_by_id(id).subdomain }%>  

    <% organizations.each do |org| %>
      <a href="http://<%=org%>.openexam.org/login"> <%= Organization.find_by_subdomain(org).name %> </a> <br />
    <% end %>
  </div>

  <div class="span4">
    <p>Create your school or try it out!</p>
    <%= link_to "Sign Up", new_organization_path, :class => "btn btn-primary" %>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
    <%= link_to "Demo", organizations_demo_path, :class => "btn btn-success" %>
  </div>

</div>