  <div class="well">
  <div class="btn-group">
    <%= link_to 'Create a Quiz', new_quiz_path, :class => "btn btn-success" %>
  </div>
  </div>

<div class="row"> <div class="span10 offset1">
    <div class="quiz-content">
      <div class="quiz-header">
        <h2>Add a Question</h2>
      </div>
      <div class="quiz-list">
        <ul>
        <% @quizzes.each do |quiz| %>
          <li>
            <a href="<%= quiz_path(quiz) %>">
              <span class="title">[<%= truncate(quiz.name, :length => 30) %>]</span>
              <span class="description">- <%= pluralize(quiz.approved_questions.length, 'question') %> - <%= truncate(quiz.description, :length => 30) %>-</span>
            </a>
            <span class="links">
              <% if current_user.is_admin? %>
                <%= link_to 'Edit', edit_quiz_path(quiz), :class => "edit-icon" %>
                <%= link_to 'Destroy', quiz, method: :delete, data: { confirm: 'Are you sure?' }, :class => "trash-icon" %>
              <% end %>
            </span>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
</div> </div>

  <script type="text/javascript">
  $(function(){
    $('.edit-icon').tooltip({
      title: "Edit quiz"
    });
    $('.trash-icon').tooltip({
      title: "Delete quiz"
    });
  });
</script>