<h1>Quizzes you have taken:</h1>

<%if @quizzes.count > 0 %>

    <% @quizzes.each do |quiz|  %>
      <% if current_user.has_taken?(quiz) %>

      <div class="quiz_listing">
        
        <h3><%= quiz.name %></h3>

        <div class="quiz_info">
          <p class="quiz_description"><%= quiz.description %></p>
          Taken <%= time_ago_in_words(quiz.answers.find_by_quiz_id(quiz).created_at) %> ago.
          <%= link_to "View result", score_path(quiz.id) %>
        </div>

      </div>

      <% end %>
    <% end %>

<% else %>

  You have not taken any quizzes. Visit the <%= link_to "Take Quiz page", quizzes_path %> to take one.

<% end %>
