<% unless notice.nil? %>
    <p class="alert"><%= notice %></p>
<% end %>

<h1>Listing quizzes</h1>

<%#= @current_user.try(:name) %>

     <p>All of these quizzes are available for you to take.</p>
      <table>
  <tr>
    <th>Name</th>
    <th></th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>   
    <% @quizzes.each do |quiz| %>
        <% if quiz.questions.length > 0 && quiz.is_published && !quiz.taken_by?(current_user)%>
          <tr>
            <td><%= quiz.name %><td>
            <td><%= quiz.description %><td>
            <td><%= link_to 'Take', new_question_answer_path(quiz.questions.first) %></td>
            <% if current_user.is_admin? %>
                <td><%= link_to 'Edit', edit_quiz_path(quiz) %></td>
                <td><%= link_to 'Destroy', quiz, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          </tr>
        <% end %>
    <% end %>
</table>

<% if current_user.is_admin? %>
  <p>
    <%= link_to 'New Quiz', new_quiz_path, :class => "btn btn-primary" %>
  </p>
<% end %>

