      <div class="quiz-content">
      <div class="quiz-header">
        <h2>Take a Quiz</h2>
      </div>
      <div class="quiz-list">
        <ul>
        <% @quizzes.each do |quiz| %>
          <% if quiz.approved_questions.length > 0 && quiz.is_published && !quiz.taken_by?(current_user)%>
            <li>
              <a href="<%= new_question_answer_path(quiz.approved_questions.first) %>">
                <span class="title">[<%= truncate(quiz.name, :length => 30) %>]</span>
                <span class="description">- <%= pluralize(quiz.approved_questions.length, 'question') %> - <%= truncate(quiz.description, :length => 30) %>-</span>
              </a>
              <span class="links">
                <% if current_user.is_admin? %>
                  <%= link_to 'Edit', edit_quiz_path(quiz), :class => "edit-icon"  %>
                  <%= link_to 'Destroy', quiz, method: :delete, data: { confirm: 'Are you sure?' }, :class => "trash-icon" %>
                <% end %>
              </span>
            </li>
          <% end %>
        <% end %>        
        </ul>
      </div>
    </div>

<script type="text/javascript">
  $(function(){
    $('.edit-icon').tooltip({
      title: "Edit quiz"
    });
    $('.trash-icon').tooltip({
      title: "Delete quiz"
    });
  });
</script>
