<div class="row"> 
  <div class="span10 offset1">
    <form action="/quizzes/mail_invite" method="post">
      <%= token_tag nil %>
      <h2>Invite students to add a question to "<%= @quiz.name %>"</h2>
      <% org_users = @users.select do |user| %>
        <% user if user.organization_id == @current_org.id %>
      <% end %>
      <fieldset>
        <input type="hidden" name="quiz_id" value="<%= @quiz.id %>" />
        <input type="checkbox" id="check_all" class="regular-checkbox invite-all" /> Select All
        <br />
        <br />
        <div class="email_users_list">
          <% org_users.in_groups_of(10, false).each do |group| %>
              <div class="span3">
              <ul>
            <% group.each do |user| %>
              <li>
                <%= check_box_tag "recipients[]", user.email, false, :class => "regular-checkbox"%>
                <%= user.name %>
              </li>
            <% end %>
              </ul>
              </div>
          <% end %>
        </div>
      </fieldset>
      <br />
      <br />
      <input type="submit" value="Invite" class="btn btn-primary" />
    </form>
  </div> 
</div>

<script type="text/javascript">
  $(function(){
    $("#check_all").click(function() {
      if ($("#check_all").is(':checked'))
      {
        $('.email_users_list input').attr('checked', 'checked');
      } else {
        $('.email_users_list input').removeAttr('checked');
      }
    });
  });
</script>
