<h2><%= @quiz.name %></h2>
<%= @num_correct %> / <%= @quiz.questions.count %><br />
<% @quiz.questions.each do |question| %>
  <%= question.name %>
  <br />
  <% question.choices.each do |choice| %>
    <% if choice.is_correct && @answers.detect{|answer| answer.choice_id == choice.id} %>
      <span class="label-success"><%= choice.name %></span>
    <% elsif choice.is_correct %>
      <span class="label-success"><%= choice.name %></span>
    <% else %>
      <% if @answers.detect{|answer| answer.choice_id == choice.id} %>
        <span class="label-important"><%= choice.name %></span>
      <% else %>
        <span><%= choice.name %></span>
      <% end %>
    <% end %>
    <br />
  <% end %>
    <br />
<% end %>

<%= link_to "Back to Quizzes", quizzes_path %>