
<% if @quiz.is_published %>
  <p class="alert">This quiz has been published.</p>
<% else %>
  <p class="alert">This quiz has not been published yet.</p>
<% end %>

<% if flash[:notice] %>
  <div id="notice"><%= flash[:notice] %></div>
<% end %>

<h1> <%= @quiz.name %> </h1>

<ol class="questions">
  <% @quiz.questions.each do |question| %>
  <li class="selected-<%= question.selected %>">
    <span class="question">
      <span class="author">(<%= question.author.name %>)</span> <%= question.name %>
    </span>
    <span class="admin-question">
      <%if current_user.is_admin?%>  
        <%= form_for question, :remote => true do |q| %>
          <%= q.hidden_field :selected, :value => "true" %>
          <%= q.submit "Select Question", :class => "select-question approve-icon", :id => "test" %>
        <% end %>
    
        <%= form_for question, :remote => true do |q| %>
         <%= q.hidden_field :selected, :value => "false" %>
         <%= q.submit "Deselect Question", :class => "deselect-question reject-icon" %>
          
         <% end %>
      <% end %>
      <% if current_user.is_admin? || current_user.id == question.user_id %>
        <%= link_to "Edit Question", edit_question_path(question), :class => "edit-question edit-icon" %>
      <% end %>
    </span>
    <ol class="choices" type="a">
      <% question.choices.each do |choice| %>
      <li><%= choice.name %></li>
      <% end %>
    </ol>
  </li>
  <% end %>
</ol>

<div class="admin-quiz">
<%= link_to "Add a Question", new_question_path(:quiz_id => @quiz.id), class: "btn btn-primary" %>
 <!-- redirect to index, while publishing to true  -->
<% if current_user.is_admin? %>  
  <% if !@quiz.is_published? %>
    <%= form_for(@quiz) do |f| %></br>
      <%= f.hidden_field :is_published, :value => "true" %>
        <%#= f.submit "Publish Quiz" %>
      <div class="actions">
        <button class="btn btn-warning" name="commit" type="submit" value="Publish Quiz" >Publish Quiz</button>
      </div>
      <% end %>
  <% else %>
    <%= form_for(@quiz) do |f| %></br>
     <%= f.hidden_field :is_published, :value => "false" %>
     <%#= f.submit "Deactivate Quiz" %> 
     <div class="actions">
      <button class="btn btn-warning" name="commit" type="submit" value="Deactivate Quiz" >Unpublish Quiz</button>
     </div>
    <% end %>
  <%end%>   
<% end %>
</div>
 
<%= link_to 'Back to Quizzes', quizzes_path %>

  <script type="text/javascript">
    $('.selected-true .select-question').hide();
    $('.selected-false .deselect-question').hide();
  </script>

<script text="type/javascript">
  $(function() {

    $('.select-question').click(function(){
      $(this).parent().siblings('form').children('.deselect-question').show();
      $(this).hide();
    });

    $('.deselect-question').click(function(){
      $(this).parent().siblings('form').children('.select-question').show();
      $(this).hide();
    });
  });
</script>
