<div class="row"> <div class="span10 offset1">

<% if current_user.is_admin? %>
  <% if @quiz.is_published %>
    <p class="alert-success alert">This quiz has been published.</p>
  <% else %>
    <% if @quiz.approved_questions.count > 0 %>
      <p class="alert">This quiz has not been published yet.</p>
    <% else %>
      <p class="alert">This quiz has not been published yet. Quizzes must have at least one selected question to be published.</p>
    <% end %>
  <% end %>
<% end %>

<h1> <%= @quiz.name %> </h1>

<ol class="questions">
  <% @quiz.questions.order('created_at ASC').each do |question| %>
  <li class="selected-<%= question.selected %>">
    <span class="question">
      <span class="author">(<%= question.author.name %>)</span> <%= question.name %>
    </span>
    <span class="admin-question">
      <%if current_user.is_admin?%>  
        <%= form_for question, :remote => true do |q| %>
          <%= q.hidden_field :selected, :value => "true" %>
          <%= q.submit "Select Question", :class => "select-question approve-icon", :id => "test" %>
        <% end %>
    
        <%= form_for question, :remote => true do |q| %>
         <%= q.hidden_field :selected, :value => "false" %>
         <%= q.submit "Deselect Question", :class => "deselect-question reject-icon" %>
          
         <% end %>
      <% end %>
      <% if current_user.is_admin? || current_user.id == question.user_id %>
        <%= link_to "Edit Question", edit_question_path(question), :class => "edit-question edit-icon" %>
      <% end %>
    </span>
    <ol class="choices" type="a">
      <% question.choices.each do |choice| %>
      <li><%= choice.name %></li>
      <% end %>
    </ol>
  </li>
  <% end %>
</ol>

<div class="admin-quiz">
  <%= link_to "Add a Question", new_question_path(:quiz_id => @quiz.id), class: "btn btn-primary" %>
   <!-- redirect to index, while publishing to true  -->
  <% if current_user.is_admin? %>  
    <p><br/><%= link_to "Invite Students to Collaborate", quiz_invite_path(@quiz.id), :class => "btn btn-inverse" %></p>
    <% if !@quiz.is_published? %>
      <%= form_for(@quiz) do |f| %></br>
        <%= f.hidden_field :is_published, :value => "true" %>
        <div class="actions">
          <button class="btn btn-warning" name="commit" type="submit" value="Publish Quiz" >Publish Quiz</button>
        </div>
        <% end %>
    <% else %>
      <%= form_for(@quiz) do |f| %></br>
        <%= f.hidden_field :is_published, :value => "false" %>
        <div class="actions">
          <button class="btn btn-warning" name="commit" type="submit" value="Deactivate Quiz" >Unpublish Quiz</button>
        </div>
      <% end %>
    <%end%>   
  <% end %>
</div>

</div> </div>


<script text="type/javascript">
  $(function() {
    $('.selected-true .select-question').hide();
    $('.selected-false .deselect-question').hide();

    $('.select-question').click(function(){
      $(this).parent().siblings('form').children('.deselect-question').show();
      $(this).parents().eq(2).removeClass("selected-false");
      $(this).parents().eq(2).addClass("selected-true");
      $(this).hide();
    });

    $('.deselect-question').click(function(){
      $(this).parent().siblings('form').children('.select-question').show();
      $(this).parents().eq(2).removeClass("selected-true");
      $(this).parents().eq(2).addClass("selected-false");
      $(this).hide();
    });

    $('.edit-icon').tooltip({
      title: "Edit question"
    });
    $('.approve-icon').tooltip({
      title: "Approve this question"
    });
    $('.reject-icon').tooltip({
      title: "Reject this question"
    });
  });
</script>
