<p id="notice"><%#= notice %></p>

<h1> <%= @quiz.name %> </h1>

<ol class="questions">
  <% @quiz.questions.each do |question| %>
  <li>
    <%= question.name %>
    <%= form_for question, :remote => true do |q| %>
      <%= q.hidden_field :selected, :value => "true" %>
      <%= q.submit "Select" %>
    <% end %>
    <%= form_for question, :remote => true do |q| %>
      <%= q.hidden_field :selected, :value => "false" %>
      <%= q.submit "Deselect" %>
    <% end %>
    <ol class="choices">
      <% question.choices.each do |choice| %>
      <li><%= choice.name %></li>
      <% end %>
    </ol>
  </li>
  <% end %>
</ol>

<%= link_to "Add a Question", new_question_path(:quiz_id => @quiz.id) %>
 <!-- redirect to index, while publishing to true  -->
<%= form_for(@quiz) do |f| %>
  <%= f.hidden_field :is_published, :value => "true" %>
  <%= f.submit "Publish Quiz" %>
<% end %>

<%= form_for(@quiz) do |f| %>
  <%= f.hidden_field :is_published, :value => "false" %>
  <%= f.submit "Deactivate Quiz" %> 
<% end %>

 


<%= link_to 'Edit', edit_quiz_path(@quiz) %> |
<%= link_to 'Back', quizzes_path %>
