<p id="notice"><%= notice %></p>

Name: <%= @quiz.name %>

<form action="/record-quiz" method="post">
  <div class="progress">
    <div class="bar" style="width: 60%;"></div>
  </div>
  <%= @quiz.id %>
  <% @quiz.questions.each do |question| %>
    <%= question.name %>:<br />

    <% question.choices.each do |choice| %>
      <%= radio_button_tag(choice.name, choice.name) %>
      <%= label_tag(choice.name, choice.name) %>
    <% end %>
  <br />
  <% end %>
  <input type="submit" value="submit" />  
</form>

<%= link_to 'Edit', edit_quiz_path(@quiz) %> |
<%= link_to 'Back', quizzes_path %>