<div class="row">
<div class="span12">
  <div class="well">
  <div class="btn-group">
    <%= link_to 'Invite a Member', invite_users_path, :class => "btn btn-primary" %>
    <%= link_to 'Create a Quiz', new_quiz_path, :class => "btn btn-success" %>
    <%= link_to "Edit Organization", edit_organization_path(@current_org.id), :class => "btn btn-warning"%>
  </div>
  </div>
<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#tab1" data-toggle="tab">Members</a> 
    </li>
    <li>
      <a href="#tab2" data-toggle="tab"> Quizzes </a>
    </li>
  </ul>
  <div id="admin-content" class="tab-content">
    <div class="tab-pane active" id="tab1">
      <table class="table">
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Role</th>
          <th>Edit</th>
          <th>Delete</th>
          <th>Quiz History</th>
        </tr>

      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.role %></td>
          <td><%= link_to 'Edit', edit_user_path(user) %></td>
          <td><%= link_to 'Delete', user, method: :delete, data: { confirm: "Are you sure you want to delete #{user.name}? \nThis cannot be undone!".html_safe } %></td>
          <td><%= link_to 'Quiz History', user_path(:id => user.id) %></td>
        </tr>
      <% end %>
      </table>

      <br />
    </div>

    <div class="tab-pane" id="tab2">
      <table class="table">
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Students Taken</th>
          <th> Class Average </th>
          <th> Stats </th>
        </tr>

      <% @quizzes.each do |quiz| %>
        <tr>
          <td><%= quiz.name %></td>
          <td><%= quiz.description %></td>
          <td><%= quiz.user_quizzes.count %> / <%= @current_org.users.where(:role => "Student").all.count %></td>
          <td><%= QuizGrader.percent_correct(quiz)%></td>
          <% if UserQuiz.find_by_quiz_id(quiz.id) %>
            <td><%= link_to "View Stats", quiz_stats_path(quiz.id) %></td>
          <% else %>
            <td>No available stats</td>
          <% end %>
          
        </tr>
      <% end %>
      </table>

      <br />
    </div>
  </div>
</div>
</div>
</div>
