<h2><%= @quiz.name %></h2>

  <div class="stats_highlights">
    Average Score: 
    <%= (QuizGrader.average_quiz_score(@quiz).to_f.round(2)/@quiz.questions.count * 100).round(2) %>%
    <br />
    Highest Score:
    <%= (QuizGrader.highest_quiz_score(@quiz).to_f/@quiz.questions.count * 100).round(2) %>%
    <br />
    Lowest Score:
    <%= (QuizGrader.lowest_quiz_score(@quiz).to_f/@quiz.questions.count * 100).round(2) %>%
    <br />
  </div>
<br />
<h3>Question Breakdown:</h3>
<% QuizGrader.question_score_counts(@quiz).each do |question, value| %>
  <h4>Question #<%= question.position %>: <%= question.name %></h4>
  
  <%= value %> out of <%= pluralize(QuizGrader.num_answers_for_question(question.id), 'student') %> answered this question correctly.
  <br />
  <% question.choices.each do |choice| %>
    <% if choice.is_correct == true%>
      <div class="correct_answer"> <%= choice.name %> (<%= QuizGrader.num_answers_for_choice(choice.id) %>)<br /> </div>
    <% else %>
      <%= choice.name %> (<%= QuizGrader.num_answers_for_choice(choice.id) %>)<br />
    <% end %>
  <% end %>
  <br />
<% end %>