<h2><em><%= @quiz.name %></em> Quiz</h2>

<div class="row">
<div class="span12">
  <div id="quiz_chart" style="width: 560px; height: 300px;"></div>
  

<% scores_top = QuizGrader.student_correct_percent_by_quiz(@quiz) %>
<% count = Hash.new(0) %>
<% scores_top.each {|v| count[v]+=1} %>


<script type="text/javascript" charset="utf-8">
    $(function () {
    new Highcharts.Chart({
      chart: { renderTo: 'quiz_chart',
               type: 'column'  
      },
      credits: { enabled:false },
      title: { text: 'Quiz Distribution' },
      xAxis: { 
               min: 0,
               max: 100,
        title: { text: 'Percent Correct'}
      },
      plotOptions: {
        series: {
          pointWidth: 15
        }      
      },

      yAxis: {
        allowDecimals: false,
        title: { text: 'Number of Students'}


      },
      series: [{
        name: 'Students',
        showInLegend: false,
        data: <%= count.to_a.inspect %>

      }]
    });
  });
  </script>


  <div class="stats_highlights" style="padding: 20px;">
    Average Score: 
    <%= (QuizGrader.average_quiz_score(@quiz).to_f.round(2)/@quiz.questions.count * 100).round(2) %>%
    <br />
    Highest Score:
    <%= (QuizGrader.highest_quiz_score(@quiz).to_f/@quiz.questions.count * 100).round(2) %>%
    <br />
    Lowest Score:
    <%= (QuizGrader.lowest_quiz_score(@quiz).to_f/@quiz.questions.count * 100).round(2) %>%
    <br />
    Hardest Question:
    "<%= QuizGrader.hardest_question(@quiz) %>"
    authored by
    <%= QuizGrader.hardest_question_author(@quiz) %>
    <br />
    Best score:
    <%= QuizGrader.most_correct_answers(@quiz) %>
    answered 
    <%= QuizGrader.correct_responses(@quiz) %>  out of  <%= @quiz.questions.count%> questions correctly.
    <br />
  </div>
<br />
<div class="span7">
<h1>Question Breakdown:</h1>
<% QuizGrader.question_score_counts(@quiz).each do |question, value| %>
    <h2 style="padding-top:20px;">Question #<%= question.position %>: <%= question.name %></h2>

  <div id="question_chart_<%= question.position %>" style="width: 480px; height: 300px;margin-left:30px;"></div>

<script type="text/javascript" charset="utf-8">
    $(function () {
    new Highcharts.Chart({
      chart: { renderTo: 'question_chart_<%= question.position %>',
               plotBackgroundColor: null,
               plotBorderWidth: null,
               plotShadow: false
      },
      credits: { enabled:false },
      title: { text: '' },
      xAxis: { 
               min: 0,
               max: 100
               
      },
      plotOptions: {
        pie: {
          size: 190,
          dataLabels: {
                        enabled: false
                    },
          showInLegend: true
        },  
        series: {
          pointWidth: 15
        }      
      },

      yAxis: {
        title: { text: 'Number of Students'},

      },
      series: [{
        type: 'pie',
        name: 'Number of students selected',
        data: [

          <% question.choices.each do |choice| %>
            <% if choice.is_correct == true%>
              {
                name: "<%= escape_for_js(choice.name) %> (Correct)",
                y: <%= QuizGrader.num_answers_for_choice(choice.id) %>,
                sliced: true,
                selected: true
              },
            <% else %>
                ["<%= escape_for_js(choice.name) %>",<%= QuizGrader.num_answers_for_choice(choice.id) %>],
            <% end %>
          <% end %>

        ]

      }]
    });
  });
  </script>
  
  <p style="margin-left:30px;"><%= value %> out of <%= pluralize(QuizGrader.num_answers_for_question(question.id), 'student') %> answered this question correctly.
  </p>

<% end %>
</div>

<div class="span4 pull-right">

<h4 style="text-align:center;">Taken:</h4>
  <table class="table" >
        <tr>
          <th style="text-align:right;">Name</th>
        </tr>
        
    <% @quiz.completed.each do |user_quiz| %>
   
        <tr>
          <td style="text-align:right;"><%= (User.find_by_id(user_quiz.user_id)).name %></td>
        </tr>    
    <% end %>      

  </table>
<h4 style="text-align:center;">In Progress:</h4>
  <table class="table" >
        <tr>
          <th style="text-align:right;">Name</th>
        </tr>
        
    <% @quiz.in_progress.each do |user_quiz| %>
   
        <tr>
          <td style="text-align:right;"><%= (User.find_by_id(user_quiz.user_id)).name %></td>
        </tr>    
    <% end %>

    <% if @quiz.in_progress.empty? %>
      <tr>
          <td style="text-align:right;">( None )</td>
        </tr>    
    <% end %>
  </table> 

  <% taken_user_quizzes = UserQuiz.find_all_by_quiz_id(@quiz.id) %>
  <% taken_user_ids = taken_user_quizzes.map { |x| x.user_id } %>
  <% taken_user_names = taken_user_ids.map { |x| User.find_by_id(x) } %>

  
  <% yetto = (User.find_all_by_organization_id(@current_org.id)) - taken_user_names %>





<h4 style="text-align:center;">Not Taken:</h4>
  <table class="table" >
        <tr>
          <th style="text-align:right;">Name</th>
        </tr>
        <tr>
            <% yetto.each do |n| %>
            <td style="text-align:right;"><%= n.name %></td>
        </tr>   
        <% end %> 
       
  </table>  
</div> 
<div class="clearfix"></div>
</div>
</div>