<h2><%= @quiz.name %></h2>

  <div class="stats_highlights">
    Average Score: 
    <%= (QuizGrader.average_quiz_score(@quiz).to_f.round(2)/@quiz.questions.count * 100).round(2) %>%
    <br />
    Highest Score:
    <%= (QuizGrader.highest_quiz_score(@quiz).to_f/@quiz.questions.count * 100).round(2) %>%
    <br />
    Lowest Score:
    <%= (QuizGrader.lowest_quiz_score(@quiz).to_f/@quiz.questions.count * 100).round(2) %>%
    <br />
    Hardest Question:
    "<%= QuizGrader.hardest_question(@quiz) %>"
    authored by
    <%= QuizGrader.hardest_question_author(@quiz) %>
    <br />
    Best score:
    <%= QuizGrader.most_correct_answers(@quiz) %>
    answered 
    <%= QuizGrader.correct_responses(@quiz) %>  out of  <%= @quiz.questions.count%> questions correctly.
    <br />
  </div>
<br />
<div class="span3">
<h3>Question Breakdown:</h3>
<% QuizGrader.question_score_counts(@quiz).each do |question, value| %>
  <h4>Question #<%= question.position %>: <%= question.name %></h4>
  
  <%= value %> out of <%= pluralize(QuizGrader.num_answers_for_question(question.id), 'student') %> answered this question correctly.
  <br />
  <% question.choices.each do |choice| %>
    <% if choice.is_correct == true%>
      <div class="correct_answer"> <%= choice.name %> (<%= QuizGrader.num_answers_for_choice(choice.id) %>)<br /> </div>
    <% else %>
      <%= choice.name %> (<%= QuizGrader.num_answers_for_choice(choice.id) %>)<br />
    <% end %>
  <% end %>
  <br />
<% end %>
</div>

<div class="span4">

<h4 style="text-align:center;">Taken:</h4>
  <table class="table" >
        <tr>
          <th style="text-align:right;">Name</th>
        </tr>
        
    <% @quiz.completed.each do |user_quiz| %>
   
        <tr>
          <td style="text-align:right;"><%= (User.find_by_id(user_quiz.user_id)).name %><td>
        </tr>    
    <% end %>      

  </table>
<h4 style="text-align:center;">In Progress:</h4>
  <table class="table" >
        <tr>
          <th style="text-align:right;">Name</th>
        </tr>
        
    <% @quiz.in_progress.each do |user_quiz| %>
   
        <tr>
          <td style="text-align:right;"><%= (User.find_by_id(user_quiz.user_id)).name %><td>
        </tr>    
    <% end %>      

  </table> 

  <% taken_user_quizzes = UserQuiz.find_all_by_quiz_id(@quiz.id) %>
  <% taken_user_ids = taken_user_quizzes.map { |x| x.user_id } %>
  <% taken_user_names = taken_user_ids.map { |x| User.find_by_id(x) } %>

  
  <% yetto = (User.find_all_by_organization_id(@current_org.id)) - taken_user_names %>



<%# raise (User.find_all_by_id(UserQuiz.find_all_by_quiz_id(@quiz.id).user_id)).inspect %>

<h4 style="text-align:center;">Not Taken:</h4>
  <table class="table" >
        <tr>
          <th style="text-align:right;">Name</th>
        </tr>
        <tr>
            <% yetto.each do |n| %>
            <td style="text-align:right;"><%= n.name %><td>
        </tr>   
        <% end %> 
       
  </table>  
</div> 
<div class="clearfix"></div>