<div class="row"> <div class="span10 offset1">

<h2><%= @user.name %></h2>
# Questions Submitted: <%= @user.questions.count %> <br />
# Questions Selected: <%= @user.questions.select(&:is_selected?).count %> <br />
<%if @user.quizzes.count > 0 %>
    <table class="table">
      <thead>
        <tr>
          <th>Quiz</th>
          <th>Taken</th>
          <th>Description</th>
          <th>Score</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @user.user_quizzes.sort!{|a,b| b.updated_at <=> a.updated_at }.each do |user_quiz| %>
          <% num_correct = QuizGrader.num_correct(@user.answers_for_quiz(user_quiz.quiz_id), user_quiz.quiz) %>

          <% if user_quiz.total_questions == nil %>
            <% total_q = 1 %>
          <% else %>
            <% total_q = user_quiz.total_questions %>
          <% end %>

          <% percent_correct = num_correct.to_f / total_q * 100 %>
          <tr>
            <td><%= link_to user_quiz.quiz.name , score_path( user_quiz.quiz.id, @user.id)%></td>
            <td><%= time_ago_in_words(user_quiz.quiz.answers.find_by_quiz_id(user_quiz.quiz_id).created_at) %> ago</td>
            <td><%= user_quiz.quiz.description %></td>
            <td><%= percent_correct.round(2) %>%</td>
            <td>
              <% if percent_correct >= user_quiz.quiz.passing_grade.to_f %>
                <%= image_tag("/assets/smile.png", :class => "smile") %>
              <% else %>
                <%= image_tag("/assets/frown.png", :class => "frown") %>
              <% end %>
            </td>
          </tr>
        <% end %>

      </tbody>

    </table>
<% else %>

  No quizzes taken.

<% end %>