<p id="notice"><%= notice %></p>

<h2><%= @user.name %></h2>

<table>
  <tr>
    <th> Quiz ID </th>
    <th>Quiz Name</th>
  </tr>
<% @user.user_quizzes.each do |user_quiz| %>
  <tr>
    <td><%= user_quiz.id %></td>
    <td><%= user_quiz.quiz.name %></td>
  </tr>
<% end %>


</table>
<%= link_to 'Edit Profile', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
