<h1><%= @quiz.name %></h1>
<%= @quiz.id %>

<%= form_for @quiz, :url => record_quiz_path do |f| %>

  <% @quiz.questions.each do |question| %>
    <h3><%= question.name %></h3>

<ul>
    <% question.choices.each do |choice| %>

      <li><input type="radio" name=question[<%= question.id %>] value="<%= choice.id %>" /><%= choice.name %> </li>

    <% end %>
  </ul>
    
  <% end %>

<%= f.submit "Submit" %>

<% end %>