<% unless notice.nil? %>
    <p class="alert"><%= notice %></p>
<% end %>

<%= @question.position %> / <%= @question.quiz.questions.length %> </br />

<%= @question.name %>: 
<br />

<%= form_for(@question_answer, :url => question_answers_path(@question)) do |f| %>
  <% if @question_answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question_answer.errors.count, "error") %> prohibited this question_answer from being saved:</h2>

      <ul>
      <% @question_answer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :question_id %>
  <%= f.hidden_field :quiz_id %>
  <%= f.hidden_field :user_id %>
  <ul>
  <% @question.choices.each do |choice| %>
    <li>
      <input type="radio" name="answer[choice_id]" value="<%= choice.id %>" /><%= choice.name %>
    </li>
  <% end %>
  </ul>

  <% if @question.quiz.next_question(@question) %>
    <%= f.submit "Next" %>
  <% else %>
    <%= f.submit "Submit" %>
  <% end %>
<% end %>

<ul>
  <% @question.quiz.questions.each do |question| %>
    <% if question.position < @question.position %>
      <li>
      <%= link_to question.position, edit_question_answer_path(question, question.answers.first) %>
      </li>
    <% end %>
  <% end %>
</ul>