<div class="row">
  <div class="span6">
    <h3>Quiz: <%= @question.quiz.name %></h3>

    <% fraction_of_quiz_complete = (@question.absolute_position.pred.to_f) / @question.quiz.approved_questions.length.to_f %>
    <% width_of_progress_bar  = (fraction_of_quiz_complete.to_f* 100).to_s + "%" %>

    <div class="progress">
      <div class="bar" style= "width:<%= width_of_progress_bar %>" ></div>
    </div>

    <div id="question">
      <h4 class="italic"><%= @question.absolute_position %>. <%= @question.name %></h4>
    </div> 

    <%= form_for(@question_answer, :url => question_answers_path(@question), :html => { :class => "form-horizontal"}) do |f| %>
      <div class="control-group">
        <% if @question_answer.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@question_answer.errors.count, "error") %> prohibited this question_answer from being saved:</h2>

            <ul>
            <% @question_answer.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            
            <% end %>
            </ul>
          </div>
        <% end %>

        <%= f.hidden_field :question_id %>
        <%= f.hidden_field :quiz_id %>
        <%= f.hidden_field :user_id %>
        
        <% @question.choices.each do |choice| %>
          <label class="radio">
            <input type="radio" name="answer[choice_id]" value="<%= choice.id %>" />
            <%= choice.name %>
          </label>
        <% end %>
      </div>
      <% if @question.quiz.next_question(@question) %>
        <%= f.submit "Next" %>
      <% else %>
        <%= f.submit "Submit" %>
      <% end %>
    <% end %>

  </div>
  <div class="span3">
  </div>
</div>

<script type="text/javascript">
  var progress_width = $('.progress .bar').width();
  var keyword = [78,73,84,72,85,66]; // to implement
  var egg = "<div class=\"width_of_progress_bar_wrapper\"> \
      <div class=\"width_of_progress_bar_piece\"> \
        <img alt=\"Nyan-octocat\" src=\"/assets/nyan-octocat.gif\" class=\"pull-right\" /> \
        <div class=\"clearfix\"></div> \
      </div> \
    </div>";

  function swapBar() {
    $('.progress').replaceWith(egg);
    $('.width_of_progress_bar_piece').width(progress_width);
  }

  $(document).keyup(function(e) {
    if (e.keyCode == 79) { 
      swapBar();
    }
  });

</script>

