<%= form_for(@organization) do |f| %>
  <% if @organization.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% @organization.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :subdomain %>
    <%= f.text_field :subdomain %>
  </div>
  <div class="field">
    <%= f.label :invite_code %>
    <%= f.text_field :invite_code %>
  </div>

  Your Info:

  <%= fields_for @organization do |organization_f| %>
    <div class="field">
      <%= organization_f.label :name %>
      <%= organization_f.text_field :name %>
    </div>
    <div class="field">

      <%= organization_f.label :subdomain %>
      <%= organization_f.text_field :subdomain %>
    </div>
  <% end %>
  <div class="controls">   
   <input name="commit" class = "btn" type="submit" value="Sign up">
  </div>

<% end %>
