<%= form_for(@organization) do |f| %>
  <% if @organization.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% @organization.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :subdomain %>
    <%= f.text_field :subdomain %>
  </div>
  <div class="field">
    <%= f.label :invite_code %>
    <%= f.text_field :invite_code %>
  </div>

  Your Info:
  <%= fields_for @user do |user_f| %>
    <% if @user.errors.any? %>
      <div class="error_messages">
        <h2>Form is invalid</h2>
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="field">
      <%= user_f.label :name %>
      <%= user_f.text_field :name %>
    </div>
    <div class="field">
      <%= user_f.label :email %>
      <%= user_f.text_field :email %>
    </div>
    <div class-"field">
      <%= user_f.label :password %>
      <%= user_f.password_field :password %>
    </div>
    <div class="field">
      <%= user_f.label :password_confirmation %>
      <%= user_f.password_field :password_confirmation %>
    </div>
  <% end %>
  <div class="controls">   
   <input name="commit" class = "btn" type="submit" value="Sign up">
  </div>

<% end %>
