<div class="row">
  <div class="offset1 span10">

    <h1>Listing organizations</h1>

    <table class="table">
      <tr>
        <th>Name</th>
        <th>Subdomain</th>
        <th>Edit</th>
        <th>Destroy</th>
      </tr>

    <% @organizations.each do |organization| %>
      <tr>
        <td><%= link_to organization.name, root_url(:subdomain => organization.subdomain) %></td>
        <td><%= organization.subdomain %></td>
        <td><%= link_to 'Edit', edit_organization_path(organization) %></td>
        <% unless organization.name == "Admin" %>
        <td><%= link_to 'Destroy', organization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
    </table>

    <p>
      <%= link_to 'New Organization', new_organization_path, :class => "btn btn-primary" %>
    </p>

  </div>
</div>