<!DOCTYPE html>
<html>
<head>
  <title>OpenExam</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <%= link_to 'Open Exam', root_path, :class => 'brand' %>
          <div class="nav-collapse collapse">
            <ul class="nav pull-right">
            <% if current_user && current_user.is_admin? %>
              <li>
                <%= link_to "Admin", admin_path %>
              </li>
            <% end %>
            <% if current_user %>
              <li>
                <a href="<%= user_path(current_user) %>"><img src="http://placekitten.com/g/25/25" class="user_nav_photo" /> <%= current_user.name %></a>
              </li>
              <li>
                <%= link_to "Log Out", logout_path %>
              </li>              
            <% else %>
              <li>
                <%= link_to "Sign Up", signup_path %>
              </li>
              <li>
                <%= link_to "Log In", login_path %>
              </li>
            <% end %>
            </ul>

            <ul class="nav">
              <% if controller?("quizzes") && action?("index") %>
                <li class="active">
              <% else %>
                <li>
              <% end %>
                <%= link_to "Take Quiz", quizzes_path %></li>

              <% if controller?("quizzes") && action?("collaborate") %>
                <li class="active">
              <% else %>
                <li>
              <% end %>
                <%= link_to "Collaborate", quiz_collaborate_path %></li>

              <% if controller?("quizzes") && action?("history") %>
                <li class="active">
              <% else %>
                <li>
              <% end %>
                <%= link_to "Quiz History", quiz_history_path %></li>

            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>


  <div class="container">
    <div class="row">
      <div class="span9">
        <%= yield %>
      </div>
    </div>
    <footer>
      <p>
        2012 Flatiron School
        &middot; <a href="#">About</a>
        &middot; <a href="#">Privacy</a>
        &middot; <a href="#">Contact</a>
      </p>
    </footer>
  </div>

  

</body>
</html>
