<!DOCTYPE html>
<html>
<head>
  <title>OpenExam</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <%= link_to 'Open Exam', root_path, :class => 'brand' %>
          <div class="nav-collapse collapse">
            <p class="nav-bar-text pull-right">
              <% if current_user && current_user.is_admin? %>
                <%= link_to "Admin", admin_path %>
              <% end %>
              <% if current_user %>
                Logged in as <%= link_to current_user.name, current_user %>
                <%= link_to "Log Out", logout_path %>
              <% else %>  
                <%= link_to "Sign Up", signup_path %> or
                <%= link_to "Log In", login_path %>
              <% end %>


            </p>
            <ul class="nav">
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>


  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
